{% extends 'base.html' %}
{% block body %}
<h3>How to Use</h3>
There are 3 different types of requests you can make to get recipes back.

<h4>Search by id</h4>
<code>
	https://db.yourdaily.menu/api/v1/recipes/id?key=yourkey
</code>

<p>Any other recipe result also returns a recipe id, which can be used here to retrieve an individual recipe.</p>

<h4>Full text search</h4>

<code>
	https://db.yourdaily.menu/api/v1/recipes
	<br>
	<p>POST Data</p>
	<ul>
		<li>name : what you are looking for</li>
		<li>key : your api key</li>
	</ul>
</code>

<h4> Search by ingredient </h4>

<code>
	https://db.yourdaily.menu/api/v1/ingredients
	<br>
	<p>POST Data</p>
	<ul>
		<li>with : Ingredients your recipe <em>must</em> have.</li>
		<li>without : Ingredients your recipe <em>must <strong>not</strong></em> have.</li>
		<li>key : your api key</li>
	</ul>
</code>
Each <code>with</code> and <code>without</code> item should be submitted as seperate variables.
Submit a POST request like so:<br>
<code>
https://db.yourdailymenu.org/api/v1/ingredients<br>
POST Data<br>
key:yourkey<br>
with:onion<br>
with:garlic<br>
without:tomato<br>
</code>

<h4>Reporting a bad recipe</h4>
<p>If you find some bad recipe data, either badly formatted ingredients, broken directions or anything else, please send the recipe ID so that it can be fixed.</p>

<code>
	https://db.yourdaily.menu/api/v1/report_error
	<br>
	<p>POST Data</p>
	<ul>
		<li>id : The recipe ID that is bad.</li>
		<li>reason : (Optional) Reasoning why the recipe is bad. While optional, reported recipes with a reason are given a higher priority.</li>
	</ul>
</code>
{% endblock body %}